<% rp = request.path == "/" ? "" : "/" %>
<!-- global nav -->
<header class="navbar navbar-fixed-top global-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">DAC PLAY Foundation</a>
      <span id="sub_title" class="navbar-sub-title"></span>
      <button type="button" class="navbar-toggle btn btn-sm" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- .navbar-header ends -->
    <nav id="main-nav" class="navigation" role="navigation">

      <div id="page-nav-scrollnav" class="navbar-collapse collapse bs-navbar-collapse">
        <ul class="nav navbar-nav navbar-right page-nav">
          <li><a href="<%= rp %>#about"><%= t('site.nav.about') %></a></li>
          <li><a href="<%= rp %>#whitepaper"><%= t('site.nav.whitepaper') %></a></li>
          <li><a href="/posts"><%= t('site.nav.posts') %></a></li>
          <li><a href="<%= rp %>#faq"><%= t('site.nav.faq') %></a></li>

          <!-- <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><%= t('site.nav.blocks.title') %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="https://blocks.dacplay.org" target="_blank"><%= t('site.nav.blocks.asia') %></a></li>
              <li><a href="http://play.bitsharesblocks.com" target="_blank"><%= t('site.nav.blocks.america') %></a></li>
            </ul>
          </li> -->
<!--
          <li><a href="//playshare.io" target="_blank">PlayShare.io</a></li>
-->
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><%= t('site.nav.resources') %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%= rp %>#contact"><%= t('site.nav.contact') %></a></li>
              <li><a href="https://wiki.dacplay.org" target="_blank"><%= t('site.nav.wiki') %></a></li>
              <!-- <li><a href="https://talk.dacplay.org" target="_blank"><%= t('site.nav.forum') %></a></li> -->
              <li><a href="https://github.com/bitsuperlab" target="_blank">Github</a></li>
              <li><a href="https://slack.dacplay.org" target="_blank">Slack</a></li>
              <li><a href="<%= rp %>#crowdfund"><%= t('site.nav.crowdfund') %></a></li>
              <li><a href="<%= rp %>#snapshot"><%= t('site.nav.snapshot') %></a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><%= t('site.nav.lang') %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="active"><%= link_to "简体中文", "/?locale=zh-CN" %></li>
                <li class=""><%= link_to "English", "/?locale=en" %></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <!-- .navigation ends -->
    </div>
</header>